@model Hobby
<h1>Hobbies</h1>
<a href="logout"><u>Logout</u></a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Enthusiast</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var hobby in ViewBag.Hobbies)
        {
            <tr>
                <td><a href="Hobby/@hobby.HobbyId"><u>@hobby.Name</u></a></td>
                <td>@hobby.Users.Count</td>
            </tr>
        }  
    </tbody>
</table>
<a href="/new"><button>Add Hobby</button></u></a>