@model Hobby

<h1>@Model.Name</h1>
<h2>Description</h2>
<p>@Model.Description</p>

<a href="/Hobby"><u>Home</u></a>

<table class ="table table-bordered table-striped">
    <thead>
        <tr>
            <td><strong>@Model.Name Enthusiasts</strong></td>
        </tr>
    </thead>
    <tbody> 
        @foreach(var user in ViewBag.Hobby.Users)
        {
            <tr>
                <td>@user.User.FirstName @user.User.LastName</td>
            </tr>
        }          
    </tbody>
</table>
@{
    if(ViewBag.Enthused == false)
    {
        <a href="/addHobby/@Model.HobbyId"><button>Add to Hobbies</button></a>
    }
    else
    {
        <p>You are an Enthusiast!!</p>
    }


}


