@model LogUser
<nav>
    <h1>Login</h1>
    <p style="color:red">@TempData["Fail"]</p>
    <form asp-action="Login" asp-controller="Home" method="post">
        <div class="form-group">
            <label asp-for="LogUsername"></label>
            <input asp-for="LogUsername">
            <span asp-validation-for="LogUsername"></span>
        </div>
        <div class="form-group">
            <label asp-for="LogPassword"></label>
            <input asp-for="LogPassword">
            <span asp-validation-for="LogPassword"></span>
        </div>
        <input class="button" type="submit" value = "Log In">
    </form>
</nav>