﻿@model User
<div class="wrapper">
    <div class="register">
        <h1>Register</h1>
        <form asp-action="Register" asp-controller="Home" method = "post">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName">
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName">
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName">
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPW"></label>
                <input asp-for="ConfirmPW">
                <span asp-validation-for="ConfirmPW"></span>
            </div>
            <input class="button" type="submit" value="Register">
        </form>
    </div>
    <div class="login">
        <partial name="IndexPartial"></partial>
    </div>
</div>