@model Hobby
<h1>Create a Hobby</h1>
<a href="/Hobby"><u>Home</u></a>

<form asp-action = "Verify" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <input type="submit" value="Create">
</form>