.wrapper{
    margin: auto;
    width: 600px;
    height: 500px;
    margin-top: 40px;
}
.register{
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: rgb(172, 153, 216);
}
.login{
    border: 1px solid black;
    background-color: rgb(172, 153, 216);
}
h1{
    font-weight: 10px;
    text-align: center;
}
span{
    color: rgb(185, 12, 12);
}
.button{
    margin-left: 100px;
    margin-bottom: 10px;
}